<phpunit bootstrap="phpunit-bootstrap.php"  colors="true">
        <testsuite name="Services_oEmbed AllTests">
                <file>tests/AllTests.php</file>
        </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">Services/oEmbed</directory>
            <file>Services/oEmbed.php</file>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="coverage" charset="UTF-8"
            yui="true" highlight="true" lowUpperBound="90" highLowerBound="100"/>
    </logging>
</phpunit>
